/* Add your style below */

@font-face {
    font-family: gyparody;
    src: url(/fonts/gyparody_rg.ttf);
}

@font-face {
    font-family: korinna;
    src: url(/fonts/ITC_Korinna_Regular.otf);
}

#body {
    background-color: #aaa;
    font-family: korinna;
}

#container {
    width: 90%;
    align-content: center;
    margin: auto;
}

#gameInfo {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    justify-content: space-evenly;
}

#score {
    text-align: right;
}

#feedback {
    text-align: center;
}

#time {
    text-align: left;
}

header {
    font-family: gyparody, serif;
    text-align: center;
    color: black;
}


.question {
    vertical-align: center;
    horiz-align: center;
    background-color: blue;
    color: #FFD700;
    font-size: 20px;
    font-family: korinna, serif;
    aspect-ratio: 2/1;
    height: auto;
    display: flex;
    align-content: center;
    justify-content: center;
}

.category {
    aspect-ratio: 2/1;
    height: auto;
    vertical-align: center;
    horiz-align: center;
    background-color: blue;
    color: #FFD700;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
}

#gameBoard {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    border-color: black;
    border-style: solid;
    border-width: 3px;
}



/* initial style for gameboard - you'll want to delete this later   */
/* it's just for getting started with js */


#gameBoard > div{
    background-color: blue;
    align-item: center;
    display: grid;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}





/* style for modal*/
#qaModal{

    color: #FFD700;
    font-size:25px;
    }
    
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      }
      
      /* Modal Content/Box */
      .modal-content {
        background-color:  blue;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
      }
      
      /* The Close Button */
      .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }
      
      .close:hover,
      .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }